{% extends "blog/main.html" %}
{% block content %}
     <article class="media content-section">
            <img class="rounded-circle article-img " src="{{ post.author.profile.image.url }}">
          <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'profile' %}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted|date:"f D F " }}</small>
                </div>
                <h2 class="article-title" >{{ post.title }}</h2>
                <p class="article-content">{{ post.content }}</p>
               {% if post.author == user %}
                     <div class="form-group">
                        <a class="btn btn-outline-secondary ml-100" href="{% url 'post_update' post.id %}">Update</a>
                        <a class="btn btn-outline-danger" href="{% url 'post_delete' post.id %}">Delete</a>

                      </div>
                {% endif %}
          </div>

     </article>
{% endblock content %}
