{% extends "blog/main.html" %}

 {% block content %}
        <h2>Logged out Successfully</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                 <a href="{% url 'login' %}">Log In </a>
            </small>
        </div>

 {% endblock content%}
